
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494920763399'); /* IE9*/
  src: url('iconfont.eot?t=1494920763399#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494920763399') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494920763399') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494920763399#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before { content: "\e601"; }

.icon-plus:before { content: "\e676"; }

.icon-erweima:before { content: "\e602"; }

.icon-xin:before { content: "\e60c"; }

.icon-shopping-cart:before { content: "\e627"; }

.icon-fangdajing:before { content: "\e60a"; }

.icon-servicequanqiutongjia:before { content: "\e600"; }

.icon-coufenzi:before { content: "\e60e"; }

.icon-haiwaizhiyou:before { content: "\e60b"; }

.icon-xiangxiajiantou:before { content: "\e61d"; }

.icon-zheng:before { content: "\e60d"; }

.icon-saoerweima:before { content: "\e703"; }

.icon-xingxing:before { content: "\e6aa"; }

.icon-down-copy-copy:before { content: "\e62d"; }

.icon-customer:before { content: "\e6a0"; }

.icon-unie607:before { content: "\e626"; }

.icon-tubiao6:before { content: "\e61b"; }

.icon-fangdajing1:before { content: "\e680"; }

.icon-xianshi:before { content: "\e605"; }

.icon-baobao:before { content: "\e674"; }

.icon-zuanshi:before { content: "\e69f"; }

.icon-xinxi:before { content: "\e62c"; }

.icon-zuobiao:before { content: "\e67d"; }

.icon-shangpin:before { content: "\e615"; }

.icon-zuoyoujiantouicon-defuben:before { content: "\e697"; }

.icon-zuoyoujiantouicon-defuben1:before { content: "\e698"; }

.icon-naozhong:before { content: "\e60f"; }

