@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

img {
  border: 0;
  vertical-align: top; }

li {
  list-style: none; }

input, textarea {
  border: none;
  background: none;
  appearance: none; }

input, textarea, select {
  border: 0;
  outline: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

button, input[type="submit"] {
  border: none;
  background: none;
  appearance: none;
  outline: none; }

a {
  touch-callout: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

i, em {
  font-style: normal; }

textarea {
  resize: none; }

button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**头部**/
.header {
  width: 100%;
  height: 40px;
  background: #af1d1d;
  position: fixed;
  top: 0;
  left: 0; }
  .header .header-list {
    display: flex;
    text-align: center;
    line-height: 40px; }
    .header .header-list .header-input {
      flex: 1;
      color: #fff;
      font-weight: bold;
      font-size: 16px; }
    .header .header-list .header-btn {
      width: 50px;
      height: 100%;
      line-height: 40px; }
      .header .header-list .header-btn img {
        width: 30px;
        height: 30px;
        padding-top: 5px; }

/**内容**/
.conter {
  width: 100%;
  height: 100%;
  padding: 40px 0 50px 0;
  overflow-y: auto;
  background: #f3f4f6; }

/**尾部**/
.footer {
  width: 100%;
  height: 50px;
  background: #484850;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center; }
  .footer .footer-list {
    display: flex;
    justify-content: space-around; }
    .footer .footer-list li {
      padding-top: 5px; }
      .footer .footer-list li img {
        width: 25px;
        height: 25px; }
      .footer .footer-list li p {
        color: #fff;
        font-size: 13px;
        margin-top: -0.55rem; }

/**列表页**/
.list-f {
  overflow: hidden; }

.list-ul li {
  float: left;
  font-size: 12px;
  padding: 5px;
  background: #ccc;
  margin: 5px 4px;
  color: #fff; }

.sp-ul {
  padding-top: 20px; }

.sp-ul li {
  width: 3.75rem;
  margin: 10px 0;
  padding: 0 0.40rem;
  float: left; }
  .sp-ul li img {
    width: 2.86rem;
    height: 2.86rem;
    box-shadow: 0 2px 10px #ccc;
    border: 1px solid #ccc; }
  .sp-ul li p {
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    font-weight: bold;
    margin: 10px 0; }
  .sp-ul li .price {
    color: red;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 10px; }

/**商品资料**/
